body {
    background-color: tan;
    text-align: center;
}

.title h1{
    text-align: center;
    font-family: "League-Gothic", Courier;
    font-size: 175px;
    margin: 0 150px 50px 0;
    text-transform: uppercase;
    color: black;
    text-shadow: 10px 10px 0 green, 20px 20px 0 red, 30px 30px 0 #ffd217, 40px 40px 0 blue;
}
.buttons {
    display: inline-block;
    position: relative;
    width: 240px;
    height: 240px;
    cursor: pointer;
}

.click{
    pointer-events: auto;
    cursor: pointer;
}
.cantClick {
    pointer-events: none;
}
.red {
    border-top-right-radius: 100%;
    background-color: #900000 ;
    margin: 0 0 0 15px;
}
.red.flash {
    background-color: #FF0000 ;
}

.green {
    border-top-left-radius: 100%;
    background-color: #003300;
    margin: 0 15px 0 0;
}
.green.flash {
    background-color: green;
}

.blue {
    border-bottom-right-radius: 100%;
    background-color: #000066;
    margin: 0 0 0 15px;
}
.blue.flash{
    background-color: blue;
}

.yellow {
    border-bottom-left-radius: 100%;
    background-color: #CCCC00;
    margin: 0 15px 0 0;
}

.yellow.flash{
    background-color: yellow;
}
.row1 {
    padding: 45px 0 15px 0;
}

.row2 {
    padding: 15px 0 52px 0;
}

#container {
    display: inline-block;
    position: relative;
    width: 600px;
    height: 600px;
    margin: 0px 120px 0px 0px;
    border-radius: 100%;
    background-color: black;
}
.middle {
    display: inline-block;
    position: absolute;
    width: 240px;
    height: 240px;
    border-radius: 100%;
    background-color: #757177;
    top: 50%;
    left: 50%;
    margin: -130px 0 0 -135px;
    border: 12px solid black; 
}
.gameButtons{
    width: 220px;
    height: 90px;
    margin: 85px 0 0 10px;
}
.score{
    display: inline-block;
}
.label {
    font-family: "digital-clock-font";
    font-size: 0.8em;
    text-align: center;
    margin-top: 45px;
}
.scoreLabel {
    font-family: "digital-clock-font";
    font-size: 0.8em;
    text-align: center;
    margin: 5px 0 0 -10px;
}
.scoreBoard {
    position: relative;
    border-style: solid;
    border-width: 4px;
    border-color: #3c4038;
    background-color: #30001d;
    border-radius: 13px;
    width: 40px;
    height: 25px;
    margin: 0 15px 0 0;
    text-align: center;
    font-family: "digital-clock-font";
    font-size: 30px;
    color: red;
    padding: 0px 0px 14px 0px;
  }

.startButton {
    display: inline-block;
    position: relative;
    width : 32px;
    height : 32px;
    background-color : red;
    border-radius : 100%;
    border : 8px solid black;
    box-shadow : 0px 4px 6px #222;
  }
  .reset {
    background-color: yellow;
    margin: 0 0 0 15px;
  }