html {
    height: 100%;
    width: 100%;
    overflow: hidden;
    scroll: none;
}

body {
    background-color: tan;
    text-align: center;
}

.title h1{
    text-align: center;
    font-family: "League-Gothic", Courier;
    font-size: 175px;
    margin: 0 400px 75px 0;
    text-transform: uppercase;
    color: black;
    text-shadow: 10px 10px 0 green, 20px 20px 0 red, 30px 30px 0 #ffd217, 40px 40px 0 blue;
}
.buttons {
    display: inline-block;
    position: relative;
    width: 240px;
    height: 240px;
    cursor: pointer;
}

.click{
    pointer-events: auto;
    cursor: pointer;
}
.cantClick {
    pointer-events: none;
}
.red {
    border-top-right-radius: 100%;
    background-color: #900000 ;
    margin: 0 0 0 15px;
}
.red.flash {
    background-color: #FF0000 ;
}

.green {
    border-top-left-radius: 100%;
    background-color: #003300;
    margin: 0 15px 0 0;
}
.green.flash {
    background-color: green;
}

.blue {
    border-bottom-right-radius: 100%;
    background-color: #000066;
    margin: 0 0 0 15px;
}
.blue.flash{
    background-color: blue;
}

.yellow {
    border-bottom-left-radius: 100%;
    background-color: #CCCC00;
    margin: 0 15px 0 0;
}

.yellow.flash{
    background-color: yellow;
}
.row1 {
    padding: 45px 0 15px 0;
}

.row2 {
    padding: 15px 0 52px 0;
}

#container {
    display: inline-block;
    position: relative;
    width: 600px;
    height: 600px;
    margin: 0px 400px 0px 0px;
    border-radius: 100%;
    background-color: black;
}
.middle {
    display: inline-block;
    position: absolute;
    width: 240px;
    height: 240px;
    border-radius: 100%;
    background-color: #757177;
    top: 50%;
    left: 50%;
    margin: -130px 0 0 -135px;
    border: 12px solid black; 
}
.gameButtons{
    width: 220px;
    height: 90px;
    margin: 85px 0 0 10px;
}
.score{
    display: inline-block;
}
.label {
    font-family: "digital-clock-font";
    font-size: 0.8em;
    text-align: center;
    margin-top: 45px;
}
.scoreLabel {
    font-family: "digital-clock-font";
    font-size: 0.8em;
    text-align: center;
    margin: 5px 0 0 -10px;
}
.scoreBoard {
    position: relative;
    border-style: solid;
    border-width: 4px;
    border-color: #3c4038;
    background-color: #30001d;
    border-radius: 13px;
    width: 40px;
    height: 25px;
    margin: 0 15px 0 0;
    text-align: center;
    font-family: "digital-clock-font";
    font-size: 30px;
    color: red;
    padding: 0px 0px 14px 0px;
  }

.startButton {
    display: inline-block;
    position: relative;
    width : 32px;
    height : 32px;
    background-color : red;
    border-radius : 100%;
    border : 8px solid black;
    box-shadow : 0px 4px 6px #222;
  }
  .reset {
    background-color: yellow;
    margin: 0 0 0 15px;
  }
  .rightColumn {
    position: absolute;
    height:100%;
    top: 250px;
    right: 60px;
    text-align: center;
    white-space: nowrap;
    
}
  .highScore {
      vertical-align: middle;
      display: inline-block;
      Margin: 50px 0 0 0;
  }

  .nameColumn {
      vertical-align: middle;
      display: inline-block;
      padding-top: 25px;
      background-color: beige;
      width: 600px;
      height: 460px;
      box-shadow:
      inset green 0 0 0 5px, 
  inset black 0 0 0 1px, 
  inset red 0 0 0 10px, 
  inset black 0 0 0 11px, 
  inset yellow 0 0 0 16px, 
  inset black 0 0 0 17px, 
  inset blue 0 0 0 21px, 
  inset black 0 0 0 22px
}
.high-score {
    position: absolute;
    text-align: center;
    font-family: "League-Gothic", Courier;
    font-size: 45px;
    text-transform: uppercase;
    color: red;
    text-shadow: 3px 3px 0 green;
}
.block{
  width: 525px;  
  height: 60px;
  margin: 25px 10px 25px 10px;
  background-color: blue;
  border: 8px solid yellow;
  box-shadow : 0px 8px 12px #222;
}

#demo{
    position: relative;
}

#demo:before {
    position: absolute;
	content: "";
	bottom: 20px;
	left: 8px;
	right: 8px;
	top: 20px;
	background: #777;
	-webkit-box-shadow: 0 0 30px 10px #486685;
	-moz-box-shadow: 0 0 30px 10px #486685;
	box-shadow: 0 0 30px 10px #486685;
	border-radius:10px/40px;
}

#name-button {
    font-size: 2em;
    height: 50px;
    width: 120px;
    border-radius: 20%;
    background: green;
    color: black;
    border: 0.25rem solid red;
    margin: 1rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
    box-shadow : 0px 8px 12px #222;
  }
#name-button:hover {
    color: yellow;
  }
#name-button::after {
    content: "";
    background: #ecf0f1;
    position: absolute;
    z-index: -1;
    padding: 0.85em 0.75em;
    display: block;
  }
#name-button:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 0.35s;
  }
#name-button::after {
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
  }

  #name-title {
    text-align: center;
    font-family: "League-Gothic", Courier;
    font-size: 50px;
    text-transform: uppercase;
    color: blue;
    text-shadow: 2px 2px 0px yellow, 3px 3px 0px black;
  }

  #high-score-txt{
    text-align: center;
    font-family: "League-Gothic", Courier;
    font-size: 50px;
    text-transform: uppercase;
    color: black;
    text-shadow: 3px 3px 0 #ffd217, 5px 5px 0 blue, 7px 7px 0 red, 9px 9px 0 green;
  }
